body{
    background: linear-gradient(135deg,black,#0b2e1a,#00ff6a);
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: black;
    text-align: center;
}
.container h1{
    margin-bottom: 20px;
    font-size: 24px;
}

.container{
    width: 300px;
    margin: 100px auto;
    background: rgb(247, 247, 247);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
label{
    display: block;
    margin-top: 10px;
}
input{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid rgb(16, 17, 14);
    border-radius: 5px;
}
button{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    background: rgb(0, 0, 0);
    color: rgb(255, 251, 251);
    border: 5px;
    cursor: pointer;
}
button:hover{
    background: rgb(11, 196, 11);
}
.menu{
    display: flex;
}
menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
menu a{
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.logo{
        display: block;
        margin: 0 auto 20px auto;
        max-width: 180px;
    }
    @media(max-widht: 768px) {
        .menu{
            flex-direction: column;
        }
        .container{
            width: 90%;
        }
        .container h1{
            font-size: 22px;
        }
    }